name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  # Ganti dengan username Docker Hub kamu
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  # Ganti dengan nama repository di Docker Hub
  IMAGE_NAME: nobarfilm 

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Trigger Portainer Webhook
        run: curl -X POST https://portainer.ridhoarmand.eu.org/api/stacks/webhooks/c2c4dedb-d954-43ef-9c4a-1b9d0c0290e3
