name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  # Ganti dengan nama repository di Docker Hub
  IMAGE_NAME: nobarfilm 

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Redeploy Portainer Stack
        uses: wirgen/portainer-stack-redeploy-action@v1.1
        with:
          portainerUrl: 'https://portainer.ridhoarmand.eu.org' # Hardcoded based on previous context, or use secret
          accessToken: ${{ secrets.PORTAINER_ACCESS_TOKEN }}
          stackId: 17
          endpointId: 3
          env: '{"DOCKER_USERNAME": "${{ secrets.DOCKER_USERNAME }}"}'
          # Using default image update behavior
